*{
  box-sizing: border-box;
}
html{
  font-size: 18px;
}
body{
  /* 공통 폰트 스타일 */
  line-height: 1.3;
  font-family: '굴림체', serif;
}
section{
  padding: 50px;
}
h1{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
h2{
  font-size: 1.2rem;
  font-weight: 700;
  background-image: url(../../image/bg_bul.gif);
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: left center;
  margin-bottom: 15px;
  
}
p{
  width: 500px;
  background: rgb(253, 205, 240);
  background-image: url(../../image/bg_line.gif);
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 15px 20px 35px;
  margin-bottom: 15px;
  text-align: justify;
}


---------
