*{
  font-family: sans-serif;
  font-style: italic;
  border: 1px solid #000;;
}

body{
  color: red;
  /* border: 1px solid #000; */
}

div{
  
}

h1{
  font-weight: 400;
}

ul{
  list-style: none;
}